# Flutter build
build/
.dart_tool/
.packages
.pub-cache/
.melos_tool/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
Podfile.lock

# Android
android/.gradle/
android/.idea/
android/local.properties
*.iml

# IDE
.idea/
.vscode/

# OS
.DS_Store

# 기타
*.lock
*.log
.env
