# Flutter build outputs
build/

# Flutter dependencies and symbolic links
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Dependency directories
ios/Pods/
android/.gradle/
android/.idea/

# IDE directories
.idea/
.vscode/
*.iml

# Local properties
android/local.properties

# Xcode
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/

# Lock and log files
*.lock
*.log

# Environment variables
.env

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environments
venv/

# SQLite DB
*.db
